{{ partial "header.html" . }}

{{ .Content }}

<script>
    var remark_config = {
      host: "https://remark42.notapplicable.info", // hostname of remark server, same as REMARK_URL in backend config, e.g. "https://demo.remark42.com"
      site_id: 'remark42',
      components: ['embed'], 
      max_shown_comments: 10, 
      locale: 'en', 
      show_email_subscription: false 
    };
  
    (function(c) {
      for(var i = 0; i < c.length; i++){
        var d = document, s = d.createElement('script');
        s.src = remark_config.host + '/web/' +c[i] +'.js';
        s.defer = true;
        (d.head || d.body).appendChild(s);
      }
    })(remark_config.components || ['embed']);
</script>

<div id="remark42"></div>

<footer class="footline">
	{{with .Params.LastModifierDisplayName}}
	    <i class='fas fa-user'></i> <a href="mailto:{{ $.Params.LastModifierEmail }}">{{ . }}</a> {{with $.Date}} <i class='fas fa-calendar'></i> {{ .Format "02/01/2006" }}{{end}}
	    </div>
	{{end}}
</footer>

{{ partial "footer.html" . }}
